<div class="container">
  <div class="parallax"></div>
  <h3 class="main-title">Convocatoria para Ayudante Alumno Ad Honorem</h3>
  <p>La Universidad Nacional de la Patagonia Austral (UNPA) convoca a los alumnos de la UNPA a inscribirse para el cargo
    de Ayudante Alumno Ad Honorem.
    Esta experiencia representa una valiosa oportunidad de formación académica, participación activa en el equipo
    docente
    y fortalecimiento del recorrido estudiantil.</p>
  <p>Los requisitos para inscribirse están establecidos en el Art. 7 Ordenanza 069/04 CS-UNPA.</p>
  <h2 class="block-title">Requisitos:</h2>
  <ul>
    <li>Mantener la condición de Alumno Sistemático</li>
    <li>Cumplir con el requisito de tener aprobado el 20 % de la carrera que realiza.</li>
    <li>Tener aprobada la asignatura por la cual postula.</li>
    <li>Cumplir con los requisitos específicos de la asignatura según la convocatoria publicada en los portales
      institucionales.</li>
  </ul>

  <h2 class="block-title">Actividades a Desarrollar:</h2>
  <ul>
    <li>Asistencia al desarrollo de clases.</li>
    <li>Participación en reuniones del equipo docente.</li>
    <li>Intervención en actividades internas de capacitación.</li>
    <li>Colaboración en la atención individual a estudiantes.</li>
    <li>Apoyo en la resolución de Trabajos Prácticos.</li>
    <li>Elaboración de informes sobre lecturas específicas y un informe final que registre la experiencia de la
      ayudantía.
    </li>
  </ul>

  <p>Para inscribirse, haga clic en el botón "Inscribirme" correspondiente a la asignatura de su interés.</p>

  <p>Si desea más información, puede consultar con <a href="mailto:accesoybienestaruaco@gmail.com"
      target="_blank">Acceso
      y Permanencia</a>.</p>
</div>