.card {
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
  }
  
  .btn-uaco {
    background-color: #006066;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-uaco:hover {
    background-color: #436a6c;
  }
  
  .card-title {
    color: #006066;
    font-weight: 600;
    line-height: 1.3;
  }