<nav class="navbar navbar-expand-lg mb-3 p-2 border-bottom">
  <div class="container-fluid d-flex justify-content-start">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.ico" alt="Logo" height="60" class="d-inline-block align-text-top">
    </a>
    <p class="mb-0 fs-6 header-title"> {{texto}} </p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Menu hamburguesa -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav pe-3 position-absolute bottom-25 end-0" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/llamados">Llamados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resultados">Resultados</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ingresar al Sistema
          </a>
          <div class="dropdown-menu">
            <form class="px-4 py-3" (ngSubmit)="login()">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email" required />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="********" [(ngModel)]="password" name="password" required />
              </div>
              <button type="submit" class="btn w-100">Ingresar</button>
            </form>
          </div>
        </li>
      </ul>
      
      <ul class="navbar-nav pe-3 position-absolute bottom-25 end-0" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista-inscriptos">Inscripciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestionar">Gestión de Llamados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Salir</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>