<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row align-items-center mb-3">
    <div class="col-md-12" *ngIf="nombreMateria">
      <h3 class="card-title fw-bold">Resultados del Llamado: {{ nombreMateria }}</h3>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Puntaje</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr *ngIf="inscripciones.length === 0">
        <td colspan="4" class="text-center">No hay inscriptos para el llamado</td>
      </tr>

      <tr *ngFor="let inscripcion of inscripciones; let i = index">
        <td>{{ inscripcion.nombre }}</td>
        <td>{{ inscripcion.apellido }}</td>
        <td>{{ inscripcion.documento }}</td>
        <td>
          <input type="number" class="form-control" [formControlName]="'puntaje_' + i" min="0" max="100">
          <!-- Mensajes de error -->
          <div *ngIf="form.get('puntaje_' + i)?.invalid && form.get('puntaje_' + i)?.touched"
            class="text-danger small mt-1">
            <div *ngIf="form.get('puntaje_' + i)?.errors?.['required']">
              El puntaje es obligatorio.
            </div>
            <div *ngIf="form.get('puntaje_' + i)?.errors?.['min'] || form.get('puntaje_' + i)?.errors?.['max']">
              El puntaje debe estar entre 0 y 100.
            </div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>

  <div class="mt-4 text-end">
    <button type="submit" class="btn btn-uaco me-1"> <i class="fa-solid fa-bars-progress me-1"></i> Cargar
      Resultados</button>
  </div>

</form>