  <!-- Llamados Vencidos -->
  <div class="card mt-5">
    <div class="card-body">
      <h5 class="card-title">Resultados</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Orden de Mérito de llamados vencidos </h6>
      <table class="table">
        <thead>
          <tr>
            <th>Asignatura</th>
            <th>Escuela</th>
            <th>Periodo</th>
            <th>Fecha Cierre</th>
            <th>Orden de Merito</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngIf="llamadosVencidosFiltrados.length === 0">
            <td colspan="5" class="text-center">No hay llamados vencidos</td>
          </tr>
          
          <tr *ngFor="let llamado of llamadosVencidosFiltrados">
            <td>{{ llamado.nombre_materia }}</td>
            <td>{{ llamado.nombre_escuela }}</td>
            <td>{{ llamado.periodo }}</td>
            <td>{{ llamado.cierre_llamado }}</td>
            <td>
              <ng-container *ngIf="llamado.inscriptosConPuntaje.length > 0; else desierto">
                <ol>
                  <li *ngFor="let inscripto of llamado.inscriptosConPuntaje">
                    {{ inscripto.apellido }} {{ inscripto.nombre }}
                  </li>
                </ol>
              </ng-container>
              <ng-template #desierto>
                DESIERTO
              </ng-template>
            </td>
          </tr>
        </tbody>
        
        
      </table>
    </div>
  </div>



