<!-- Resultados de los llamados -->
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Resultados</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Orden de Mérito de la Convocatoria</h6>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Asignatura</th>
            <th scope="col">Escuela</th>
            <th scope="col">Periodo</th>
            <th scope="col">Orden de Mérito</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td colspan="4" class="text-center">No existen resultados disponibles</td>
          </tr>
          <tr hidden>
            <td>Asignatura</td>
            <td>Escuela</td>
            <td>Periodo</td>
            <td>Orden de Mérito</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>